.list{
    list-style-type: none;
}
.list li{
   
float:left;
}
a{
   font-size:30px;
   color:grey;
    text-decoration: none;
    margin-left:60px;
}

.heading{
    color:green;
    font-weight: bold;
}

.icon{
    width:2%;
    float:right;
    margin-right:40px ;
}
.section{
    width:70%;
    height:10vh;
    background:white;
    display:block;
    margin:auto;
    border: 1px solid grey;

}
body{
background:beige;}

.dashboard{
    height: auto;
    width:20%;
    background:white;
    position:absolute;
    top:20%;
    left:10%;
    text-align:center;
}
.profileimg{
    border-radius: 50%;
}
button{
    background:green;
    color:azure;
    border-radius:5px;
    border:none;
    padding:20px 10px;
    margin-top:12px;
}

.box{
   display: flex; 
}
.box img{
    height:12px;
    width:12px;
}

.box{
    width:50%;
    height:70%;
    background-color:white;
    position:absolute;
    top:20%;
    right:15%;
}

.part2{
  position: absolute;
  top:20%;
  right:21%;  
  padding-left: 20px;
}
.list{
    list-style-type: none;
    text-align: center;
    display:block;
    margin:auto;
}

.profile2{
    height:40%;
    width:60%;
   
    display:block;
    margin: auto;
    text-align: center;

}






